@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Papyrus";
    src: url("./components/fonts/papyrus.ttf");
}

@font-face {
    font-family: "Anta-Regular";
    src: url("./components/fonts/Anta-Regular.ttf");
}

@font-face {
    font-family: "SourceCodePro";
    src: url("./components/fonts/SourceCodePro-VariableFont_wght.ttf");
}

@font-face {
    font-family: "MetalGothic";
    src: url("./components/fonts/MetalGothicDemoVersionRegular-WyB9A.ttf");
}